/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* VARIABLES */
:root {
--primary-color:#776B5D;
--secondary-color:#EBE3D5;
--tertiary-color:#6C3428;
--quaternary-color: #F7F1E5; /* #F5EEDC; #FAEED1; #F5E8C7; #F7F1E5; */
--fifth-color: #E38B29;
}

/* CSS RESET */
* {
margin:0;
padding:0;
box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    text-align: center;
}

img{
    width:100%;
    height:auto;
  }

/* UTILITY CLASSES */
.container{
    max-width: 1000px;
    padding: 0 1.5rem;
    overflow: hidden;
    margin: auto;

}

.btn{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-top: 2rem;
    text-align: center;
    display:block;
    width: 100%;
    padding: 0.6rem 1.5rem;
    border-radius: 3px;
    background-color: var(--fifth-color);
    text-transform: uppercase;
}

.btn:hover{
    background-color: var(--primary-color);
    color: #fff;
}


/* HEADER SECTION - DOG BONE BACKGROUND IMAGE */
#header-top{
   height: 40vh;
    background-image: url("/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* NAVIGATION BAR */ 
#navbar{
    background-color: var(--secondary-color);
    padding: 0rem 3rem;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    z-index: 99;
}

#navbar ul{
    list-style-type: none;
    display: flex;  
}

#navbar ul .nav-link{
    display:inline-block;
    padding: 1.2rem 2rem;
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
}

#navbar ul .nav-link:hover{
    background-color: var(--primary-color);
    color:#fff;
}


/* BODY SECTION */
/* ABOUT - PROFILE PIC + INTRO */
#header-bottom {
   height: 100vh;
    width: 100vw;
    background-image: url("/img/backgrounds/pexels-eva-bronzini-7599590.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 80% 20%;
    border-top-right-radius: 80% 20%;
    position: relative;
    z-index:1;
    margin-top: -12rem;
}

#about-image{
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-pic{
   border-radius: 50%; 
   height: 25rem;
    width: 25rem;
    object-fit:cover;
    object-position: -100% 70%;
    border: var(--primary-color) 10px solid;
    margin-top: -32rem;
}

#about-text{
    height: 35%;
   margin-top: -5rem;
}

#title1, #title2{
    color: var(--tertiary-color);
    line-height: 1.2;
   
}

#title1{
    font-family: 'Agbalumo', sans-serif;
    font-size: 3rem;
}

#title2{
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 3.6rem;
}

.subtitle{
    color:var(--primary-color);
    font-size: 1.2rem;
    font-weight: 100;
    margin-top: 10rem;
}

#links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin-top: 5rem;
}

/* DISCOUNTS SECTION */
#discounts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 6rem;
    column-gap: 2rem;
    max-width: 1000px;
    margin-top: -6rem;
    padding: 0 10px;
}


.discount-box {
    width: 100%;
  max-width: 300px;
  border: solid var(--primary-color) 1px;
  border-radius: 5%;
  text-align: center;
  background-color: #fff;
  overflow: hidden;
}

/* #discounts{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}


.discount-box {
    border: solid var(--primary-color) 1px;
  border-radius: 5%;
  text-align: center;
  background-color: #fff;
  margin: -4rem 0.2rem 1rem;
  width: 33%;
  height: auto;
  overflow: hidden;
} */



.discount-box h3 {
    background-color: #8A6C49; /* #B0926A; */
    font-size: 1.2rem;
    padding: 1rem;
    color: var(--secondary-color);
    

  }
  
  .discount-box a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--tertiary-color);
    font-weight: 700;
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .discount-box a p{
    width: 55%;
    padding: 1.5rem 0 0 1rem;

  }

.logo{
    width: 45%;
}


/* CONTACT SECTION */
#contact{
    height:50vh;
    width: 100vw;
    text-align: center;
    position: relative;
  background-color: var(--quaternary-color);
}

.contact-form{
    height: 60%;
    color: #000;
  
    
}


.contact-form h2{
    font-size: 1.2rem;
    padding: 10rem 0.5rem 5rem;
 color: #E38B29;  /* #FFBB5C */

}

.contact-form p{
    font-size: 1rem;
    padding: 0 0.5rem;
}

.contact-form p a{
    color: #E38B29;
}

#form{
    height: 40%;
    margin-top: 10rem;
    max-width: 1200px;
  min-width: 950px;
  display: inline-block;
}

#message{
    background-color: #fff;
  border: 1.5px solid var(--primary-color);
  color: #000;
  font-size: 1rem;
  width: 100%;
}

/* FOOTER */
#main-footer{
    width: 100vw;
    background-color: var(--primary-color);
    height: 8vh;
    text-align: center;
    position:relative;
}

#main-footer p{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    padding-top: 5rem;
  
}

#main-footer p a{
    text-decoration: none;
    color: #fff;
}

.fa-paw{
    padding-left: 0.5rem;
}



/* Desktops */

/* 1025px — 1200px: Desktops, large screens */
@media only screen and (min-width: 1025px) and (max-width: 1200px){
/* HEADER SECTION - DOG BONE BACKGROUND IMAGE */
#header-top{
    height: 40vh;
 }
 
 /* BODY SECTION */
 /* ABOUT - PROFILE PIC + INTRO */
 #header-bottom {
    height: 100vh;
     margin-top: -18rem;
 }
 
 
 .profile-pic{
    height: 20rem;
     width: 20rem;
     margin-top: -34rem;
 }
 
 
 #title1{
     font-size: 3rem;
 }
 
 #title2{
     font-size: 3.6rem;
 }
 
 
 /* DISCOUNTS SECTION */
 #discounts{
     margin-top: -2rem;
 }
}    

/* TABLET AND SMARTPHONES */

/* 769px — 1024px: Small screens, laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px){
    #header-top{
        height: 30vh;
     }

    /* BODY SECTION */
/* ABOUT - PROFILE PIC + INTRO */
#header-bottom{
    height: 80vh;
    margin-top: -8rem;
    border-top-left-radius: 50% 10%;
    border-top-right-radius: 50% 10%;
}

    #about-image{
        height:20%;
    }

    .profile-pic{
        height: 20rem;
        width: 20rem;
        margin-top: -13rem;
    }

    #about-text{
        height: 35%;
       margin-top: 2rem;
    }

    .subtitle{
        margin-top: 4rem;
    }

    #links{
        margin-top: 2rem;
    }


/* DISCOUNTS SECTION */
    #discounts {
        height: 45%;
    margin-top: -4rem;
    row-gap: 0;
}

    .discount-box a {
        width: 100%;
        padding: 0.5rem 2rem;
        font-weight: 500;
        }

        .discount-box a p{
            width: 65%;
            padding: 1rem 0 0 1rem;
            }

            .logo{
                width: 35%;
                }

/* CONTACT SECTION */
#contact{
    height: 50vh;
    }
    
   
    .contact-form h2{
    padding: 5rem 0.5rem;
    }
    
    
    #form{
    max-width: 1000px;
    min-width: 700px; 
    margin-top: 5rem;
    }
    
    
    /* FOOTER */
    #main-footer p{
    padding-top: 3rem;
    }
    
}

/* 481px — 768px: iPads, Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px){

/* HEADER SECTION - DOG BONE BACKGROUND IMAGE */
#header-top{
    height: 40vh;
 }


/* BODY SECTION */
/* ABOUT - PROFILE PIC + INTRO */
#header-bottom{
    height: 150vh;
    margin-top: -4rem;
    border-top-left-radius: 60% 6%;
    border-top-right-radius: 60% 6%;
}

#about-image{
    height:20%;
}

.profile-pic{
height: 20rem;
width: 20rem;
margin-top: -12rem;

 } 

 #about-text{
    height: 30%;
   margin-top:-2rem;
}

#title1{
    font-size: 2.4rem;
}

#title2{
font-size: 2.8rem;
}

.subtitle{
    margin-top: 2rem;
}

#links{
margin-top: 1rem;
}

/* DISCOUNTS SECTION */
#discounts {
height: 50%;
margin-top: -1rem;
row-gap: 0;
}

.discount-box h3 {
    padding: 0.75rem;
}

.discount-box a {
width: 100%;
padding: 0.5rem 2rem;
}

.discount-box a p{
width: 65%;
padding:  0.3rem 0 0 1rem;
}


.logo{
width: 35%;
height:4rem;

}

/* CONTACT SECTION */
#contact{
height: 80vh;
}

.contact-form{
height: 60%;
}

.contact-form h2{
padding: 4rem 0.5rem 2rem;
}

.contact-form p{
padding: 0.5rem;

}

#form{
max-width: 700px;
min-width: 400px; 
}

#message{
    margin-top: -8rem;
}


/* FOOTER */
#main-footer p{
padding-top: 1.2rem;
}

}


/* 320px — 480px: Mobile devices */
@media only screen and (min-width:320px) and (max-width:480px){
/* HEADER SECTION - DOG BONE BACKGROUND IMAGE */
    #header-top{
        height: 30vh;
     }

/* NAVIGATION BAR */ 
     #navbar ul .nav-link{
         padding: 1.2rem 1rem;
         font-size: 1.2rem;
     }

/* BODY SECTION */
/* ABOUT - PROFILE PIC + INTRO */
#header-bottom{
        height: 140vh;
        margin-top: -3rem;
        border-top-left-radius: 70% 6%;
        border-top-right-radius: 70% 6%;
    }

#about-image{
        height:10%;
    }

.profile-pic{
height: 15rem;
width: 15rem;
margin-top: -3rem;
    
     } 

     #about-text{
        height: 30%;
       margin-top:4rem;
    }

#title1{
        font-size: 2rem;
    }

#title2{
    font-size: 2.2rem;
}

.subtitle{
    font-size: 1rem;
}

#links{
    margin-top: -1rem;
}

/* DISCOUNTS SECTION */
#discounts {
    height: 60%;
flex-direction: column;
margin-top: -3rem;
  }

  .discount-box {
  width: 70%;
  margin: 0.3rem;
  }

  .discount-box h3 {
    font-size: 1.1rem;
    padding: 0.5rem;
  }

  .discount-box a {
    width: 100%;
    padding: 0.5rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
  }

  .discount-box a p{
    width: 65%;
    padding: 0.3rem 0 0 0.3rem;
  }


  .logo{
    width: 35%;
    height:4rem;
    
}

/* CONTACT SECTION */
#contact{
   height: 90vh;
}

.contact-form{
    height: 30%;
}

.contact-form h2{
    font-size: 1.1rem;
    padding: 2rem 0.5rem 1rem;
}

.contact-form p{
    font-size: 1rem;
    padding: 0.5rem;

}

#form{
    height: 70%;
    max-width: 400px;
  min-width: 100px; 
}


/* FOOTER */
#main-footer{
  height: 12vh;
  margin-top: -1rem;
}

#main-footer p{
    font-size: 1rem;
    padding-top: 1.2rem;
}

}