/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* VARIABLES */
:root {
--primary-color:#776B5D;
--secondary-color:#EBE3D5;
--tertiary-color:#6C3428;
--quaternary-color:#F5E8C7 /*#F5EEDC; #F7F1E5 ;*/
}

/* CSS RESET */
* {
margin:0;
padding:0;
box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    text-align: center;
}

img{
    width:100%;
    height:auto;
  }

/* UTILITY CLASSES */
.container{
    max-width: 1000px;
    padding: 0 1.5rem;
    overflow: hidden;
    margin: auto;

}

.btn{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    margin-top: 2rem;
    text-align: center;
    display:block;
    width: 100%;
    padding: 0.6rem 1.5rem;
    border-radius: 3px;
    background-color: var(--secondary-color);
    text-transform: uppercase;
}

.btn:hover{
    background-color: var(--primary-color);
    color: #fff;
}

/* HEADER SECTION - DOG BONE BACKGROUND IMAGE */
#header-top{
   height: 50vh;
    background-image: url("/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* NAVIGATION BAR */ 
#navbar{
    background-color: var(--secondary-color);
    padding: 0rem 3rem;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    color: black;
    z-index: 99;

}

#navbar ul{
    list-style-type: none;
    display: flex;
  
}

#navbar ul .nav-link{
    display:inline-block;
    padding: 1.2rem 2rem;
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
 
}

#navbar ul .nav-link:hover{
    background-color: var(--primary-color);
    color:#fff;
}


/* BODY SECTION */
/* ABOUT - PROFILE PIC + INTRO */
#header-bottom {
   height: 80vh;
    width: 100vw;
    background-image: url("/img/backgrounds/pexels-eva-bronzini-7599590.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 60% 18%;
    border-top-right-radius: 60% 18%;
    position: relative;
    z-index:1;
    margin-top: -12rem;
 
 
  
}

#about-image{
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-pic{
   border-radius: 50%; 
   height: 20rem;
    width: 20rem;
    object-fit:cover;
object-position: -100% 70%;
border: var(--primary-color) 10px solid;
margin-top: -8rem;



}

#about-text{
    height: 35%;
   margin-top: 2rem;
}

#title{
    color: var(--tertiary-color);
    font-size: 2.5rem;
    font-weight: bolder;
    line-height: 1.2;
}

.subtitle{
    color:var(--primary-color);
    font-size: 1.2rem;
    font-weight: 100;
    margin-top: 1rem;
}

#links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

/* DISCOUNTS SECTION */
#discounts{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    

}

.discount-box {
    border: solid var(--primary-color) 1px;
  border-radius: 5%;
  text-align: center;
  background-color: #fff;
  margin: -4rem 0.2rem 1rem;
  width: 25%;
  height: auto;
  overflow: hidden;
 
}



.discount-box h3 {
    background-color: #B0926A;
    font-size: 1.2rem;
    padding: 1rem;
    color: var(--secondary-color);
    

  }
  
  .discount-box a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--tertiary-color);
    font-weight: 700;
    padding: 1rem 0.5rem 1rem;
    float: right;
    
  }

  .discount-box a p{
    padding-top: 0.6rem;
  }

.logo{
    width: 42%;
    height:auto;
   float: left;
}


/* CONTACT SECTION */

#contact{
    height:110vh;
    width: 100vw;
    text-align: center;
    position: relative;
}

.contact-form{
    height: 60%;
    background-color: var(--quaternary-color);
    color: black;
    
}


.contact-form h2{
    font-size: 1.2rem;
    padding: 2rem 0.5rem;
 color: #E38B29;  /* #FFBB5C */

}

.contact-form p{
    font-size: 1.05rem;
    padding: 0 0.5rem;
    
}

.contact-form p a{
   
    color: #E38B29;
}

#form{
    height: 40%;
    margin-top: 2rem;
    max-width: 500px;
  min-width: 300px;
  display: inline-block;
   
}

#message{
    background-color: #fff;
  border: 1.5px solid var(--primary-color);
  color: black;
  font-size: 1.05rem;
  width: 100%;
}

/* FOOTER */
#main-footer{
    width: 100vw;
   margin-top: -24rem;
    background-color: var(--primary-color);
    height: 8vh;
    text-align: center;
    position:relative;
  

}

#main-footer p{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    padding-top: 1rem;
  
}

#main-footer p a{
    text-decoration: none;
    color: #fff;
}


/* TABLET AND SMARTPHONES */
@media only screen and (max-width: 800px) and (min-width: 600px){

.btn{
    margin-top: 1rem;
} 

#header-bottom{
        height: 150vh;
        margin-top: -14rem;
        border-top-left-radius: 50% 10%;
    border-top-right-radius: 50% 10%;
    
    }

#about-image{
        height:10%;
    }

    .profile-pic{
        margin-top: -3rem;
    }

 #about-text{
        height: 20%;
       margin-top: 6rem;
       
    }
    
#discounts {
    height: 70%;
flex-direction: column;
margin-top: -3rem;
  }

  .discount-box {
  width: 70%;
  height: auto;
  margin: 0.5rem;
  }

  .discount-box a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--tertiary-color);
    font-weight: 700;
    padding: 0.5rem 1rem;
    float: right;
    
  }

  .discount-box a p{
    padding-top: 2rem;
  }



  .logo{
    width: 30%;
    height:6rem;
   
}

#contact{
   height: 120vh;
    position: relative;

}

#main-footer{
    position: relative;
  margin-top: -26rem;

}
}


@media only screen and (max-width:599px) and (min-width:300px){
    #header-bottom{
        height: 180vh;
        margin-top: -10rem;
        border-top-left-radius: 50% 5%;
    border-top-right-radius: 50% 5%;
    
    }

#about-image{
        height:10%;
    }

    .profile-pic{
        margin-top: -3rem;
    }

 #about-text{
        height: 20%;
       margin-top: 6rem;
       
    }
    
#discounts {
    height: 70%;
flex-direction: column;
margin-top: -3rem;
  }

  .discount-box {
  width: 70%;
  height: auto;
  margin: 0.5rem;
  }

  .discount-box a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--tertiary-color);
    font-weight: 700;
    padding: 0.5rem 1rem;
    float: right;
    
  }

  .discount-box a p{
    padding-top: 2rem;
  }



  .logo{
    width: 30%;
    height:6rem;
   
}

#contact{
   height: 120vh;
    position: relative;

}

#main-footer{
    position: relative;
  margin-top: -26rem;

}
}

