/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* VARIABLES */
:root {
--primary-color:#776B5D;
--secondary-color:#EBE3D5;
--tertiary-color:#6C3428;
--quaternary-color: #F7F1E5; /* #F5EEDC; #FAEED1; #F5E8C7; #F7F1E5; */
--fifth-color: #E38B29;
--six-color:#F5F1EC;
}

/* CSS RESET */
* {
margin:0;
padding:0;
box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    text-align: center;
}

img{
    width:100%;
    height:auto;
  }

/* UTILITY CLASSES */
.container{
    max-width: 1000px;
    padding: 0 1.5rem;
    overflow: hidden;
    margin: auto;
}

.btn{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-top: 2rem;
    text-align: center;
    display:block;
    width: 100%;
    padding: 0.6rem 1.5rem;
    border-radius: 3px;
    background-color: var(--fifth-color);
    text-transform: uppercase;
}

.btn:hover{
    background-color: var(--primary-color);
    color: #fff;
}


/* HEADER SECTION - DOG BONE BACKGROUND IMAGE */
#header-top{
   height: 100vh;
    background-image: url("/img/backgrounds/background2.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
}

/* NAVIGATION BAR */ 
#navbar{
    background-color: var(--secondary-color);
    padding: 0rem 3rem;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    z-index: 99;
}

#navbar ul{
    list-style-type: none;
    display: flex;  
}

#navbar ul .nav-link{
    display:inline-block;
    padding: 1.2rem 2rem;
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
}

#navbar ul .nav-link:hover{
    background-color: var(--primary-color);
    color:#fff;
}

#header-content{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}


#content-box .title{
    height: 48rem;
    width: 28rem;
    margin-top: -6rem;
    margin-left: -1rem;
    position: relative;
}

#header-content #text-box{
    height: 21rem;
    width: 26rem;
    background-color: var(--six-color);
   text-align: center;
   margin-top: -18rem;
}

.subtitle{
    color:var(--primary-color);
    font-size: 1.2rem;
    font-weight: 100;
    padding: 2rem;
   
}

#links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin-top: -2rem;
}

#header-content #profile-pic{
    height: 30rem;
    width: 30rem;
    position: relative;
    margin-top: 4rem;
}

/* BODY SECTION */
/* DISCOUNTS SECTION */
#header-bottom {
   /* background: linear-gradient(-90deg, #EEE0D0, #D5B48F, #BAA792, #9F9F9F);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;*/
    background-image: url("/img/backgrounds/discounts-cover.svg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
    height: 95vh;
}

.bone-pic{
    height: 24rem;
    width: 48rem;
    margin-top: -4rem;
    position: relative;
}


#discounts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    column-gap: 2rem;
    padding: 16rem 10px 0 ;
    margin-top: -22rem;
}


.discount-box {
    width: 100%;
  max-width: 300px;
  border: solid var(--primary-color) 1px;
  border-radius: 5%;
  text-align: center;
  background-color: #fff;
  overflow: hidden;
}

/* #discounts{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}


.discount-box {
    border: solid var(--primary-color) 1px;
  border-radius: 5%;
  text-align: center;
  background-color: #fff;
  margin: -4rem 0.2rem 1rem;
  width: 33%;
  height: auto;
  overflow: hidden;
} */



.discount-box h3 {
    background-color: #BAA792; /* #B0926A; */
    font-size: 1.2rem;
    padding: 1rem;
    color: var(--tertiary-color);
    font-weight:700;
  }
  
  .discount-box a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--tertiary-color);
    font-weight: 700;
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .discount-box a p{
    width: 55%;
    padding: 1.5rem 0 0 1rem;

  }

.logo{
    width: 45%;
}


/* CONTACT SECTION */
#contact{
    height:100vh;
    text-align: center;
  background-color: var(--six-color);
    position: relative;

}

.contact-form{
    height: 60%;
    color: #000;
}


.contact-form h2{
    font-size: 2rem;
    padding: 4rem 0.5rem 2rem;
 color: #E38B29;  /* #FFBB5C */

}

.contact-form p{
    font-size: 1.2rem;
    padding: 0.5rem;
}

.contact-form p a{
    color: #E38B29;
}

#form{
    height: 40%;
    margin-top: 2rem;
    max-width: 1000px;
  min-width: 500px;
  display: inline-block;
}

#message{
    background-color: #fff;
  border: 1.5px solid var(--primary-color);
  color: #000;
  font-size: 1rem;
  width: 100%;
}

.bones-footer{
    margin-top: 4rem;

}

/* FOOTER */
#main-footer{
    width: 100vw;
    background-color: var(--primary-color);
    height: 8vh;
    position:relative;
    display: flex;
    align-items: center;
}

#main-footer p{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
}

#main-footer p a{
    text-decoration: none;
    color: #fff;
}

#main-footer p a:hover{
    color: var(--fifth-color);
}

.fa-paw{
    padding-left: 0.5rem;
}




/* TABLET AND SMARTPHONES */

/* 320px — 480px: Mobile devices */
@media only screen and (min-width:320px) and (max-width: 480px){
    .container{
        width: 290px;
        padding: 0 1rem;
    }
/* HEADER SECTION - DOG BONE BACKGROUND IMAGE */
    #header-top{
        height: 100vh;
     }

/* NAVIGATION BAR */ 
     #navbar ul .nav-link{
         padding: 1.2rem 1rem;
         font-size: 1.2rem;
     }


     #content-box .title{
        height: 38rem;
        width: 18rem;
         margin-top: -27rem;
    }

    #header-content #text-box{
        height: 18rem;
       position: relative;
    }

   

.subtitle{
    font-size: 0.8rem;
    margin-top: 2.5rem;
    font-weight: 600;
    padding: 2rem 6rem;
}

#links{
    margin-top: -2rem;
}



/* BODY SECTION */
/* ABOUT - PROFILE PIC + INTRO */
#header-bottom{
        height: 125vh;
        background-image: url("/img/backgrounds/phone/discounts-cover.svg");
    }

 .bone-pic{
        height: 16rem;
        width: 28rem;
        display: inline-block;
        width: 100%;
      margin-top: -3rem;
        
    }


/* DISCOUNTS SECTION */
#discounts {
margin: -13rem 1rem 0;
row-gap: 1rem;
padding-top: 9rem;
  }

  .discount-box h3 {
    font-size: 1.1rem;
    padding: 0.5rem;
  }

  .discount-box a {
    width: 100%;
    padding: 0.5rem 2rem;
  }

  .discount-box a p{
    width: 65%;
    padding: 0.5rem 0 0 1rem;
  }


  .logo{
    width: 35%;
}

/* CONTACT SECTION */
#contact{
   height: 80vh;
}

.contact-form{
    height: 50%;
}

.contact-form h2{
    font-size: 1.1rem;
    padding: 3rem 0.5rem 1.5rem;
}

.contact-form p{
    padding: 0.5rem;
    font-size: 0.8rem;
}

#form{
    height: 50%;
    max-width: 260px;
  min-width: 100px; 
}

#message{
    margin-top: -1rem;
    font-size: 0.8rem;
}

.bones-footer{
    margin-top: 2rem;
  
}

/* FOOTER */
#main-footer{
  height: 12vh;
}

#main-footer p{
    font-size: 1rem;
}

}

/* 481px — 768px: iPads, Tablets */
@media only screen and (min-width: 481px) and (max-width:768px){
    .container{
       width: 451px;
    }

/* HEADER SECTION - DOG BONE BACKGROUND IMAGE */
#header-top{
    height: 160vh;
 }

 #content-box .title{
     margin-top: -20rem;
}

#header-content #text-box{
    height: 20rem;
    width: 26rem;
}


.subtitle{
font-weight: 600;
}



/* BODY SECTION */
/* ABOUT - PROFILE PIC + INTRO */
#header-bottom{
    height: 165vh;
    background-image: url("/img/backgrounds/phone/discounts-cover.svg");
}


.bone-pic{   
    display: inline-block;
    width: 100%; 
}


/* DISCOUNTS SECTION */
#discounts {
row-gap: 1rem;
}

.discount-box h3 {
    padding: 0.75rem;
}

.discount-box a {
width: 100%;
padding: 0.5rem 2rem;
}

.discount-box a p{
width: 65%;
padding:  0.8rem 0 0 1rem;
}


.logo{
width: 35%;
}


/* CONTACT SECTION */
#contact{
    height: 130vh;
}

#form{
max-width: 400px;
min-width: 260px; 
}

.bones-footer{
    margin-top: 3rem;
  
}

}


/* 769px — 1024px: Small screens, laptops 
@media only screen and (min-width: 769px){
    .container{
width: 739px;
padding: 0 2rem;
    }

    #header-top{
        height: 40vh;
     }


    /* BODY SECTION */
/* ABOUT - PROFILE PIC + INTRO 
#header-bottom{
    height:85vh;
    margin-top: -6rem;
    border-top-left-radius: 50% 10%;
    border-top-right-radius: 50% 10%;
}

    #about-image{
        height:20%;
    }

    .profile-pic{
        height: 20rem;
        width: 20rem;
        margin-top: -9rem;
    }

    #about-text{
        height: 35%;
       margin-top: 2rem;
    }

    .subtitle{
        margin-top: 2rem;
    }

    #links{
        margin-top: 0;
    }


/* DISCOUNTS SECTION 
    #discounts {
        height: 45%;
    margin-top: -4rem;
    row-gap: 0;
}

    .discount-box a {
        width: 100%;
        padding: 0.5rem 2rem;
        }

        .discount-box a p{
            width: 65%;
            padding: 1rem 0 0 1rem;
            }

            .logo{
                width: 35%;
                }

/* CONTACT SECTION 
#contact{
    height: 60vh;
    }
    
    .contact-form h2{
    padding: 5rem 0.5rem 2.5rem;
    }
    
    
    #form{
    max-width: 700px;
    min-width: 400px; 
    margin-top: 12rem;
    }
    
    
    /* FOOTER 
    #main-footer p{
    padding-top: 3rem;
    }
    
}


/* Desktops */

/* 1025px — 1200px: Desktops, large screens 
@media only screen and (min-width: 1025px){
    .container{
        width: 995px;
        padding: 0 2rem;
    }
    /* HEADER SECTION - DOG BONE BACKGROUND IMAGE 
        height: 40vh;
     }
     
     /* BODY SECTION */
     /* ABOUT - PROFILE PIC + INTRO 
         margin-top: -18rem;
     }
     
     
     .profile-pic{
        height: 20rem;
         width: 20rem;
         margin-top: -9rem;
     }
     
     
     /* DISCOUNTS SECTION 
     #discounts{
         margin-top: -3rem;
         row-gap: 0;
     }

     /* CONTACT SECTION 
#contact{
    height: 45vh;
    }
    
    .contact-form h2{
    padding: 5rem 0.5rem 2.5rem;
    }
    
    
    #form{
    max-width: 1000px;
    min-width: 700px; 
    margin-top: 12rem;
    }
    
    
    /* FOOTER 
    #main-footer p{
    padding-top: 5rem;
    }
    }    
    


/* 1201px and greater: Desktops, large screens 
@media only screen and (min-width: 1201px){
    .container{
        width: 1171px;
        padding: 0 4rem;
    }
    /* HEADER SECTION - DOG BONE BACKGROUND IMAGE 
    #header-top{
        height: 40vh;
     }
     
     /* BODY SECTION */
     /* ABOUT - PROFILE PIC + INTRO 
     #header-bottom {
        height: 55vh;
         margin-top: -18rem;
     }
     
     
     .profile-pic{
        height: 20rem;
         width: 20rem;
         margin-top: -10rem;
     }
     
     
     /* DISCOUNTS SECTION 
     #discounts{
         margin-top: -5rem;
         row-gap: 0;
         max-width: 1200px;
     }

     /* CONTACT SECTION 
#contact{
    height: 40vh;
    }
    
    .contact-form h2{
    padding: 5rem 0.5rem 2.5rem;
    }
    
    
    #form{
    max-width: 1200px;
    min-width: 1000px; 
    margin-top: 12rem;
    }
    
    
    /* FOOTER
    #main-footer p{
    padding-top: 5rem;
    }
    }    
    


